altair
black
bokeh
catboost
dash
dask
geopandas
ipykernel
ipython
ipywidgets
keras
lightgbm
matplotlib
nltk
numpy
openpyxl
pandas
plotly
pyarrow
pyspark
pytest
scikit-learn
scipy
seaborn
shapely
spacy
statsmodels
xgboost